<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2017 The LineageOS Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lineageos.jelly"
    android:resizeableActivity="true"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <application
        android:name=".JellyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:appCategory="productivity"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true" tools:ignore="MissingTvBanner"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.lineageos.jelly.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|layoutDirection|navigation|uiMode|density"
            android:hardwareAccelerated="true"
            android:persistableMode="persistAcrossReboots"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:requestLegacyExternalStorage="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="org.lineageos.jelly.LaunchFileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:documentLaunchMode="always"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:requestLegacyExternalStorage="true"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/mht" />
                <data android:mimeType="message/rfc822" />
                <data android:mimeType="application/x-webarchive-xml" />

                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="image/svg+xml" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:name="org.lineageos.jelly.history.HistoryActivity"
            android:label="@string/history_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.lineageos.jelly.favorite.FavoriteActivity"
            android:label="@string/favorite_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.lineageos.jelly.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.oF2pks.browser4.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <provider
            android:name=".favorite.FavoriteProvider"
            android:authorities="com.oF2pks.browser4.favorite"
            android:exported="false" />

        <provider
            android:name=".history.HistoryProvider"
            android:authorities="com.oF2pks.browser4.history"
            android:exported="false" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <service
            android:name="org.lineageos.jelly.tiles.IncognitoTile"
            android:enabled="true"
            android:icon="@drawable/ic_incognito"
            android:label="@string/menu_incognito"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.lineageos.jelly.tiles.NewTabTile"
            android:enabled="true"
            android:icon="@drawable/ic_new_tab"
            android:label="@string/menu_in_new_tab"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.lineageos.jelly.tiles.FavoritesTile"
            android:enabled="true"
            android:icon="@drawable/ic_favorite"
            android:label="@string/menu_favorites"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.lineageos.jelly.tiles.HistoryTile"
            android:enabled="true"
            android:icon="@drawable/ic_history"
            android:label="@string/menu_history"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.lineageos.jelly.tiles.KillAll"
            android:enabled="true"
            android:icon="@drawable/ic_menu_kill_all"
            android:label="@string/kill_all"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>


        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true">
        </meta-data>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <!-- Note (Samsung DEX Version >= 3.0. DeX Dual Mode support):
        Declares keepalive in the android manifest file, to avoid the process being killed
        when switching between mobile and Samsung DeX. In addition, set the android:configChanges
        to avoid restarting the app during the switching process.
         -->
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true"/>
    </application>
</manifest>
